[Unit]
Description=Aetherium Full Node
After=network-online.target

[Service]
User=aetherium
Group=aetherium
WorkingDirectory=~
StateDirectory=aetherium
LogsDirectory=aetherium

Type=simple
ExecStart=/usr/bin/aetheriumd --config-file /etc/aetheriumd.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
